*.pyc
*.bak
*~
*.nja
*.e*
*.rope*
*.dir*
*.pdf
*.kpf
*.svg
*.db
.idea/*
barcode/__pycache*
build/*
dist/*
docs/_build
MANIFEST
barcode/version.py
tests/index.html
tests/test_outputs/
tests/test.py
test.py
