include barcode/DejaVuSansMono.ttf
include test.py README.rst
recursive-include docs *.rst *.py make.bat Makefile
include docs/_static/*
include docs/_templates/*
include docs/images/*
prune docs/_build/*

