name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04 ]
        python: [ '3.9', '3.10', '3.11', '3.12', '3.13' ]
        variant: [ "py", "py-images" ]
        include:
          - os: macOS-12
            python: "3.12"
            variant: py-images
          - os: windows-2022
            python: "3.12"
            variant: py-images
          - os: windows-2022
    name: python${{ matrix.python }} on ${{ matrix.os }} ${{ matrix.variant }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: pip
          cache-dependency-path: |
            pyproject.toml
      - name: Install test dependency
        run: pip install tox
      - name: Run tests
        run: tox
        env:
          TOXENV: ${{ matrix.variant }}
